.popup-manager{

    position:absolute;

    left:0;

    bottom:72px;

    z-index:999999;

    display:flex;

    flex-direction:column;

    animation:popupShow .18s ease;

}

@keyframes popupShow{

    from{

        opacity:0;

        transform:translateY(12px) scale(.96);

    }

    to{

        opacity:1;

        transform:translateY(0) scale(1);

    }

}