:root{

    /* Primary */

    --primary:#7C3AED;
    --primary-dark:#5B21B6;

    /* Background */

    --bg:#0F172A;
    --surface:#111827;
    --card:#1B2433;

    /* Text */

    --text:#FFFFFF;
    --sub-text:#A5B4C7;

    /* Border */

    --border:rgba(255,255,255,.06);

    /* Status */

    --success:#22C55E;
    --danger:#EF4444;
    --warning:#F59E0B;

    /* Radius */

    --radius-sm:12px;
    --radius-md:18px;
    --radius-lg:24px;

    /* Shadow */

    --shadow:0 10px 30px rgba(0,0,0,.18);

    --primary-shadow:0 12px 30px rgba(124,58,237,.35);

    /* Animation */

    --transition:.25s ease;

}

/* Reset */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html,
body,
#root{

    width:100%;

    height:100%;

    overflow:hidden;

    background:var(--bg);

    color:var(--text);

    font-family:"Poppins",sans-serif;

}